
.heroGridArea {
    grid-template-areas: "fill";
    place-items: center;
}

.heroGridArea > * {
    grid-area: fill;
}

.heroFigGridArea {
    display: grid;
    grid-template-areas: "casper";
    place-items: center;
}

.heroFigGridArea > * {
    grid-area: casper;
}

.gradientClip {
    clip-path: polygon(50% 0, 70% 30%, 100% 50%, 70% 70%, 50% 100%, 30% 70%, 0 50%, 30% 30%);
}

.gradientClipBlur {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(400px);
    -webkit-backdrop-filter: blur(400px);
    /* for me doesn't cause issues at 200px but doesn't look as great */
    /* also this will definitely cause even more performance issues later one when the website expands its content */
    z-index: 1;
}

.leftGradient {
    background: linear-gradient(to top right, var(--orange), transparent);
}

.rightGradient {
    background: linear-gradient(to top left, var(--pink), transparent);
}

.aboutBtn {
    width: 320px;
    padding: 2% 4%;
    border-radius: 12px;
}

.btnFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}