@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --off-white: #fdfdfd;
    --background-blue: #2B2F85;
    --dark-blue-rgba: 27, 28, 64;
    --dark-blue: #1B1C40;
    --bright-green: #CCF7EE;
    --orange: #F69169;
    --pink: #FBBCF9;
}

body {
    color: var(--off-white);
    background-color: var(--background-blue);
    overflow-x: hidden;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    /* text-4xl */
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}


/* h4 {
    font-size: 2.25rem;
    line-height: 2.5rem;
} */

h5 {
    /* text-2xl */
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}

h6 {
    /* text-xl */
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

/* tailwind breakpoint 2xl */
@media (max-width: 1536px) { 
    
}

/* tailwind breakpoint sm */
@media (max-width: 640px) {
    html {
        font-size: 12px;
    }
}