@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --off-white: #fdfdfd;
    --background-blue: 43, 47, 133;
    --dark-blue-rgba: 27, 28, 64;
    --dark-blue: #1B1C40;
    --bright-green: #CCF7EE;
    --orange: 246, 145, 105;
    --pink: 251, 188, 249;
}

body {
    color: var(--off-white);
    background-color: rgb(var(--background-blue));
}