@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --off-white: #fdfdfd;
    --background-blue: #2B2F85;
    --dark-blue-rgba: 27, 28, 64;
    --dark-blue: #1B1C40;
    --bright-green: #CCF7EE;
    --orange: #F69169;
    --pink: #FBBCF9;
}

body {
    color: var(--off-white);
    background-color: var(--background-blue);
}